@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Playfair Display', serif;
}

/* スクロールバー非表示 (Chrome, Safari) */
.scroll-hide::-webkit-scrollbar {
  display: none;
}

/* Firefox 対応 */
.scroll-hide {
  scrollbar-width: none;
}
